/* BLOG */

.blog-title {
    display:flex;
    align-items:center;
    width:100%;
    height:30vh;
    background-image:url('../images/japanese-food.jpeg');
    background-size:cover; 
}

.blog-title h1 {
    color:white;
    max-width:1000px;
    margin-right:auto;
    margin-left:auto;
}

.blog-header {
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.blog-author {
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.blog-paragraph {
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    font-size:1.25em;
}