.come-visit {
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../images/slideshow-3.jpeg');
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    border-color: black;
    border-width: 20px;
}

.come-visit h1 {
    padding-top:400px;
    text-align:center;
    font-size:40px;
    color:white;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black
}

@media (max-height:490px) {
    .come-visit h1 {
        padding-top:100px;
    }
}

.search-bar {
    padding-top:10px;
    max-width:400px;
    margin:auto;
}

.feature-card:hover {
    border-color:rgba(255, 0, 0, 0.683);
    border-style:solid;
    border-width: 3.9px;
    animation-name: feature-hover;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes feature-hover{
    0%{
    transform: scale(100%)
    }
    100%{
      transform: scale(105%)
    }
  }

.come-eat {
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    width:100%;
    height:40vh;
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../images/japanese-food.jpeg');
    background-size:cover;
    background-position: center;
}

.come-eat-description {
    display:flex;
    margin-left:10px;
    margin-top:20px;
    flex-wrap: wrap;
}

.come-eat h1 {
    color:rgb(240, 226, 201);
}

.come-eat p {
    color:rgb(255, 255, 255);
    margin-top:30px;
    margin-left:10px;
}

.come-eat p a {
    color:white;
    text-decoration: none;
}

.travel-essential-container h1 {
    text-align:center;
}

.travel-essential {
    margin-left:10px;
    margin-top:10px;
    width:200px;
    text-align:center;
    border-style:none;
    border-radius: 10px;
    background-color: rgba(70, 70, 70, 0.033);
}

.travel-essential:hover {
    box-shadow:2px 2px 2px rgb(64, 64, 64);
    animation-name:travel-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes travel-hover {
    0% {
        margin-bottom:0px;
    }
    100% {
        margin-bottom:10px;
    }
}

.travel-essential a {
    text-decoration: none;
}

.travel-essential a img {
    margin-top:10px;
    width:150px;
}

.travel-essential a p {
    font-weight: 300;
    color:black;
}

.travel-essential-list {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

@media (min-width:1120px) {
    .travel-essential {
        margin-right:50px;
        margin-left:50px;
        width:235px;
    }
}

.other-information-container table {
    width:100%;
}

.other-information-container table tr td a {
    color:black;
}