.come-visit {
    width:100%;
    height:100vh;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    border-color: black;
    border-width: 20px;
}

.come-visit h1 {
    padding-top:400px;
    text-align:center;
    font-size:40px;
    color:white;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black
}

.search-bar {
    padding-top:10px;
    max-width:400px;
    margin:auto;
}

.search-bar .input-group {
    border-radius:30px;
}

.feature-title {
    padding-top:20px;
    font-size:50px;
}

.feature-row {
    margin-bottom:10px;
}

.feature-image img{
    border-radius: 30px;
    padding-top:5px;
    padding-bottom:5px;
}

.attraction-list {
    display:flex;
    justify-content:space-evenly;
    list-style-type:none;
    flex-wrap: wrap;
}

.attraction-list li {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    height:30em;
    width:30em;
    text-align: center;
    border-style:groove;
    border-radius: 10% 10% 10% 10%;
    border-width: 2px;
    background-size:cover;
    color: white;
    font-weight:200;
}

.attraction-list li:hover {
    width:29.5em;
    height:29.5em;
}

.tours-section table{
    width:90%;
}

.come-eat {
    display:flex;
    align-items:center;
    width:100%;
    height:50vh;
    background-image:url('../images/japanese-food.jpeg');
    background-size:cover;
}

.come-eat h1 {
    color:wheat;
}

.come-eat p {
    color:white;
    margin-top:30px;
    margin-left:10px;
}

.come-eat p a {
    color:white;
    text-decoration: none;
}

.travel-essential {
    width:400px;
    flex-grow:1;
    text-align:center;
}

.a {
    display:flex;
}