
body {
    font-family: 'Kanit','Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.navbar-nav a {
    font-size:20px;
    margin-right:7px;
}

.navbar-nav form input {
    font-size:20px;
}

.navbar-img {
    width:60px;
}

.active {
    color:rgb(194, 0, 0) !important;
}


